/* '#620000', '#FFD700', '#006400', '#00008B', '#000000', '#C0C0C0', '#AD8150', '#800080', '#8B4513', '#4682B4', '#FFA500', '#32CD32', '#87CEEB', '#FFDAB9', '#87CEFA' */ 
/* '#1E3C4F','#3D5A68','#546E7A','#6F8B95','#88A1AD','#A2B8C2','#BDC3C7','#651115','#E1E8ED','#9B7653','#B5956D','#CCC0B3','#695824','#8D6E63','#A88C85','#C2A49B' */

*{
    padding: 0;
    margin:0;
}
header{
    z-index: 999;
    top:0;
   background-color: #fefae0d4;
   height: 80px;
   width: 100%;
   position:fixed;
   border-bottom: 3px solid #5B484A;
   

}

h1{
    position: absolute;
    left:120px;
    top:0;
    line-height: 80px;
    color:#d5d8e2;
    background-image: url('../resources/logo1.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}
header ul{
    position: fixed;
    right:5vw;
    top:0;
    line-height:80px;
}


header li{
    
    display:inline;
    margin-right: 3vw;
}
header a{
    color: #5B484A;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 5px;

}
header a:hover{
    color:#FEFAE0;
    background-color:#e67762;
}
#split1{
    height: 80px;
    width: 100%;
    background-color: #F9EBC7; 
}
.split{
    height: 80px;
    width: 100%;
    background-color: #F9EBC7; 
}
#introduce{
    background-color: #F9EBC7;
    color:#e67762;
    height: 150vh;
    background-image: url("../resources/cover-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#bigtitle{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#intropart{
    flex: 1;
}
#introduce h2{
    
    font-size: 60px;
    margin: 200px 0 20px 0;
    padding: 20px 40px;
    /* background-color: #fefae082; */
}
#introduce p{
    
    color: #5B484A;
    font-size: 20px;
    margin: 25px 0;
}
#introduce a{
    
    color: #5B484A;
    text-decoration: none;
    border: 2px solid #5B484A;
    padding: 10px 20px;
    border-radius: 5px;
}
#introduce a:hover{
    color:#F9EBC7;
    background-color:#e67762;
    border-color: #e67762;
}
#history{
 
    background-color: #F9EBC7;
    color: #D9BF9D;
    height: 4400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#sayhog{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}
#imgF3{
    flex:1;
    height: 200px;
    width: 100px;
    background-image: url("../resources/F4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 50px 50px 100px;
}
#sayhog p{
    color: #5B484A;
    flex: 2;
    margin: 50px 100px 50px 50px;
    font-size: 18px;
}

#history h2{
    color: #e67762;
    font-size: 35px;
    margin:40px 0 20px 0;
}

#products{
    height: 600px;
    width: 100%;
    
    margin-top: 100px;
}
#products ul{
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: top;


}
#products il{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#products h3{
    color: #5B484A;
    font-size: 15px;
    margin: 20px 0 10px 0;
}
#products p{
    color: #997a7d;
    font-size: 13px;
}
.splitl{
    width: 90%; /* 横线的宽度 */
    height: 2px; /* 横线的高度 */
    background-color: #5B484A; /* 横线的颜色 */
    margin: 20px 0; /* 横线上下的外边距 */
}
#befm{
    font-size: 25px;
    color: #5B484A;
    margin: 150px 0 0 0;
    font-weight: 600;
}

#befh{
    font-size: 25px;
    color: #5B484A;
    margin: 120px 0 0 0;
    font-weight: 600;
}
#befh-0{
    font-size: 25px;
    color: #5B484A;
    font-weight: 600;
}
#befhl{
    font-size: 18px;
    color: #563e41ac;
    margin: 50px 0 50px 0;
    font-weight: 200;
}
#piaof{
    width: 50%;
    height: 600px;
    margin: 60px 0;
}
#imgcov1{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#imgcov2{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#imgcov3{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#imgcov4{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#imgcov5{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov5.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#imgcov6{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#imgcov7{
    height: 240px;
    width: 180px;
    background-image: url('../resources/cov7.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#hbhistory{
    height: 1500px;
    background-color: #F9EBC7;
    width: 95%;
    margin:20px 0;
}
#movie{

    background-color: #F9EBC7;
    color: #5B484A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#movie h2{
    color: #e67762;
    margin:40px 0 40px 0;
    font-size: 35px;
}
#movie p{
    margin:0;
    color:#D9BF9D;
}

#movieg{
    background-color: #F9EBC7;
    display: flex;
    height:900px;
    width: 100%;
    flex-direction: row;
    padding: 40px 0 0 0;
}

#livemap{
 
    background-color: #F9EBC7;
    color: #5B484A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.carousel-container {
    position: relative;
    max-width: 60%;
    margin: 100px 0 80px 0;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}
.carousel-buttons {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.carousel-description {
    text-align: center;
    padding: 10px;
    margin: 20px 0 0 0;
    height: 200px;
    background-color: #F9EBC7;
    color: #997a7d;
}
#placet{
    color: #5B484A;
    margin: 80px 0 0 0;
    text-align: center;
}
#mapandnav{
    background-color: #F9EBC7;
    /* background-image: url('../resources/chengbao.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height:1100px;
    width: 100%;
    margin: 40 0 0 0;
}
#livemap h2{
    margin:40px 0 40px 0;
    color: #e67762;
    font-size: 35px;
}
#livemap p{
    color: #D9BF9D;
    margin:0 0 0 0;
}
#hgwc{
    font-size: 25px;
    color: #5B484A;
    margin: 150px 0 0 0;
    font-weight: 600;
}
#hgwc1{
    font-size: 20px;
    color: #5b484abd;
    margin: 30px 0;

}
#mapnav{
    align-items: center;
    font-size: 20px;
    margin: 30px 0;
    color:#997a7d ;
    font-weight: 200;

    
}
#mapti{
    align-items: center;
    width: 60%;
    font-size: 25px;
    color: #5B484A;
    margin: 60px 0;
    font-weight: 600;
    flex:1;
}
#map{
    flex:3;
    background-image: url("../resources/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
    width: 800px;
    margin:100px 0 20px 0;
}
#movienum{
    flex:1;
    height:840px;
    width:60%;
    padding-right: 30px;
    
}
#moviesay p{
    
    color: #5B484A;
    background-color: #F9EBC7;
    margin: 10px 0;

    
}
#movienav{
    width: 60%;
    align-items: center;
    margin: 0 0 80px 0;
}
#moviesay{
    margin: 60px 0 30px 0;
    width: 60%;
    align-items: center;
}
#movienav p{
    
    color: #5B484A;
    background-color: #F9EBC7;
    text-align: center;
}

#moviegraph{
    
    flex:1;
    height:800px;
    width:60%;
    padding-left: 30px;
    
}
#people{
 
    background-color: #F9EBC7;
    color: #D9BF9D;;
    height: 2250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#people h2{
    color: #e67762;
    margin:60px 0 40px 0;
    font-size: 35px;
}
#peonav{
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#maozi{
    background-image: url('../resources/mao1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin: 80px 0 40px 0;
}
#guanxi{
    color: #5B484A;
    align-items: center;
    margin: 30px 0 20px 0;
}
#guanxi1{
    color: #997a7d;
    align-items: center;
    margin:0 0 80px 0;
}
#peoplegraph{
    background-color: #F9EBC7;
    display: flex;
    width: 100%;
    flex-direction: row;
}
#peoplere{
    flex:1;
    height: 800px; 
    margin:20px 40px;
}
#peointro{
    flex:1;
    display: flex;
    flex-direction: row;
    margin:20px 0;
    justify-content: center;
    align-items: center;
    border: 5px solid transparent;
    border-left-color: #F9EBC7;
    
}
#picture{
    flex:1;
    background-image: url("../resources/0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    width: 450px;
    margin:0px 40px;

}
#introtext{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#introtext p{
    flex:1;
    
}
#name{
    font-size: 50px;
    font-weight: 800;
    color: #e67762;
    margin:20px 0 0 0;
}
#experience{
    font-size: 20px;
    font-weight: 550;
    color: #5B484A;
    margin:10px 0;
}
#endn{
    background-color: #F9EBC7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
#endn p{
    font-size: 20px;
    font-weight: 200;
    color: #5B484A;
    margin:5px 0;
}
#endp{
    height: 800px;
    width: 100%;
    background-image: url('../resources/f3p.png');
    background-color: #F9EBC7;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: #5B484A;
    color: #FEFAE0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
